.cover
  div
    h1 ¡El país lo haces vos, es tu turno de hablar!
    p
      | Entrá, comentá y debatí sobre todos los compromisos nacionales.
    button.btn.btn-primary.btn-lg.cta-btn
      | Mirá los compromisos
