.cover
  div
    h1 ¡El país lo hacés vos, es tu turno de hablar!
    p
      | Entrá, comentá y debatí sobre todos los compromisos nacionales.
    a.btn.btn-primary.btn-lg.cta-btn(href="#propuestas")
      | Mirá los compromisos
