.cover
  .container
    h1 ¡El país lo hacés vos, es tu turno de hablar!
    p
      | Entrá, comentá y debatí sobre todos los compromisos nacionales ante la Alianza de Gobierno Abierto.
    a.btn.btn-primary.btn-lg.cta-btn(href="#compromisos")
      | Mirá los compromisos
