.cover
  h1 Ministerio de Modernización
  p
    | Mejora los sistemas y procesos internos del Estado, capacita permanentemente a sus empleados e incorpora Nuevas Tecnologías a la administración pública para alcanzar una gestión eficiente, inclusiva y transparente que brinde más y mejore  servicios a los ciudadanos.