.homepage
  include ./cover/index
  if topics && topics.length
    .topics-copy#compromisos
      h2
        | #LeyDeAcceso
      p
        | Ponemos a consideración de la ciudadanía la reglamentación de la <a href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/265000-269999/265949/norma.htm" rel="noopener noreferer" target="_blank">Ley 27.275</a> de Acceso a la Información Pública.

    .topics-container.container
      each topic in topics
        include ./topic-card/template
  include ../footer/index
