.homepage
  include ./cover/index
  if topics && topics.length
    .topics-copy#compromisos
      h2
        | Estas son nuestras consultas.
      p
        | Mirá cada una de las iniciativas en las cuales estamos trabajando y dejanos tu opinión.

    .topics-container.container
      each topic in topics
        include ./topic-card/template
  include ../footer/index
