.homepage
  include ./cover/index
  if topics && topics.length
    .topics-copy#compromisos
      h2
        | #LeyDeAccesoCongreso
      p
        | El Congreso de la Nación Argentina pone a disposición del público el presente procedimiento de consulta pública acerca de la reglamentación e implementación de la <a href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/265000-269999/265949/norma.htm" rel="noopener noreferer" target="_blank">Ley 27.275</a> dentro de su órbita.
    .topics-container.container
      each topic in topics
        include ./topic-card/template
  include ../footer/index
