footer.footer
  .logo
    a(href='http://democracyos.org')
      img(src='/footer/democracyos-logo.svg')
    nav.menu
      div: a(href='#') Terminos y condiciones
      span ¿Dudas, sugerencias? escribinos a&nbsp;
      a(href='#') mail@argentina.gob.ar
