.footer
  display flex
  flex-direction column
  flex-wrap wrap
  justify-content center
  align-self baseline
  padding 40px 15px
  margin-top 30px
  background-color #fff

  .logo
    align-self center

    a
      color inherit
      text-decoration inherit

    img
      max-width 100%
      width 180px
      margin-left 22%

  .menu
    flex-grow 2
    text-align center
    margin-top 12px
    font-size .8em

    a
      padding-top 10px
      color #0273ba
