.footer
  display flex
  flex-direction column
  flex-wrap wrap
  justify-content center
  align-self baseline
  padding 40px 15px
  margin-top 30px
  font-size .8em
  background-color #fff

  a
    color #0273ba

  .logo
    align-self center

    a
      color inherit
      text-decoration inherit

    img
      max-width 100%
      width 180px

  .menu
    flex-grow 2
    text-align center
    margin-top 12px

    a
      margin 0 5px
      padding-top 10px

  .help
    text-align center
