footer
  padding 40px 15px
  margin-top 30px
  font-size .8em
  background-color #fff

  .footer
    max-width 1180px
    margin 0 auto
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-between
    align-content center
    align-items flex-start

  a
    color #0273ba

    a
      color inherit
      text-decoration inherit

    img
      max-width 100%
      width 180px
      margin-top 8px

  .logo
    span
      display block
      color #aaa

    .redes
      margin-bottom 10px
      img
        width 25px
        max-width 100%
        opacity .3
        &:hover
          opacity 1

  .gob
    img
      max-width 100%
      width 250px

  .menu
    text-align center
    text-align left
    text-transform uppercase
    padding-right 40px

    a
      margin 0 5px
      padding-top 10px

  .help
    text-align center
