.topic-container
  display flex
  flex-direction column
  margin 10px
  max-width 420px
  min-width 320px
  flex 1
  min-height 20px
  .topic-card
    display flex
    flex-direction column
    padding 20px
    background-color #F5F5F5
    border 1px solid #E3E3E3
    border-radius 4px
    box-shadow 0px 1px 1px rgba(0, 0, 0, 0.05) inset
    flex 1
    min-height 440px

    .pic
      height 265px
      margin -20px -20px 0 -20px
      border-radius 4px 4px 0 0
      background-size cover
    .author
      display flex
      align-items center
      margin-top 10px
      .author-img
        width 50px
        height 50px
        border-radius 50%
        margin-right 10px
        background-position center
        background-size 50px auto
      p
        margin 0
        line-height 1.3
        font-size 0.9em
        span
          font-weight 700
    .title
      margin-top 20px
      color #111
      font-size 1.3em
  .participando
    text-align center
    font-size 1.2em
    margin 8px 0