.topic-container
  display flex
  flex-direction column
  margin 20px
  max-width 360px
  min-width 320px
  flex 1
  min-height 20px
  .topic-btn
    background-color transparent
    color #0273BA
    border-radius 5px
    padding 15px
    margin 0 -20px
    margin-top 8px
    border 1px solid #0273BA
    border-top-left-radius 0
    border-top-right-radius 0
    line-height 1.1em
    &:hover
      background-color #0273BA
      color #fff
  .topic-card
    display flex
    flex-direction column
    padding 20px
    padding-bottom 0
    background-color #F5F5F5
    border-radius 4px
    box-shadow 0px 2px 4px rgba(0, 0, 0, 0.1)
    flex 1
    min-height 440px
    .pic
      height 265px
      margin -20px -20px 0 -20px
      border-radius 4px 4px 0 0
      background-size cover
      background-color #e8e8e8
    .author
      display flex
      align-items center
      margin-top 18px
      .author-img
        width 45px
        height 45px
        border-radius 50%
        margin-right 10px
        background-position center
        background-size 50px auto
      p
        margin 0
        line-height 1.3
        font-size 0.83em
        span
          font-weight 700
    .title
      margin-top 20px
      color #111
      font-size 1.3em
  .participando
    font-size .85em
    margin 9px 0
    font-weight 100
    color #6a6a6a
    strong
      color #0273BA