.topic-container
  .topic-card
    .pic(style='background-image:url(' + topic.coverUrl + ')')
    .author
      .author-img(style='background-image:url(' + topic.user.avatar + ')')
      div
        p Autor:&nbsp;
          span=topic.user.displayName
    a.title(href=topic.url)=topic.mediaTitle
  p.participando=topic.participants.length + " ciudadanos participando"
  a.btn.btn-primary(href=topic.url) Discutí este proyecto