@import '../../boot/vars'

.sidebar-list
  opacity .8

  li
    &.active
      a
        color #111
        background #e5e5e5
        .item-tag
          svg.hexagon
            opacity 1

      span.title
        color inherit
        font-weight bold

    a.voted
      min-height 80px

    a
      padding 14px spacing 14px 65px
      color inherit
      position relative
      min-height 60px

    .item-tag
      position absolute
      left spacing
      top spacing

      .pic
        width 30px
        height 30px
        border-radius 50%
        background-size cover
        background-color #e8e8e8

      .item-icon
        font-size 28px

      svg.hexagon
        width 40px
        height 40px
        left 0
        top -8px
        position absolute
        opacity .2
        // polygon
        //  fill #BDC3C7
      img
        width 20px
        height 20px
        position absolute
        z-index 100
        width 30px
        left 5px
        top 2px

    .item-badges
      position absolute
      left spacing + 7
      top spacing + 34
      color white

      .voted
        width 16px
        height 16px
        position absolute
        z-index 100
        left 3px
        color #8bc34a

    &:hover
      background #fff

    span.title
      font-size 14px
      line-height 19px
      font-weight 400
      display block
      margin-bottom 0px
      color #888

    span.created-by
      font-size 11px
      opacity .5
      font-weight normal
