/* Vars
-------------------------------------------------- */
border_radius = 2px

/* Topic view
-------------------------------------------------- */
article.proposal
  min-height 300px
  position relative

  .entry-content
    font-size 16.5px
    line-height 1.6
    font-weight 300
    font-family inherit

  a:hover
    color #3d699e
    text-decoration underline

  img
    max-width 100%

  h1
    margin-top spacing * 2
    font-weight 700

  .entry-tag
    display none
    position: static
    width: auto
    padding-bottom: 10px
    margin-bottom: 20px
    text-align: left
    border-bottom 1px solid rgba(#000, .8)

    .entry-icon
      display inline
      .fa
        font-size 20px
        vertical-align sub
        margin-right 5px

  .body
    font-size 110%
  .summary
    font-size 16px
    margin 40px 0

  .clauses
    margin-top 20px

  .clause
    margin-bottom 20px
    word-wrap break-word

    img
      width 100%

  .clause-section-title
    cursor pointer
    border-bottom 1px solid #ddd

    &.active
      &::after
        transform unquote('rotate(.5turn)')

    &::after
      content '\e114'
      display inline-block
      margin-left 6px
      font-family 'Glyphicons Halflings'
      font-size 12px
      transition all .3s ease-in-out

  .clause-section-text
    display none

    &.active
      display block

  h2.author
    color #666
    font-size 20px
    font-weight normal
    margin 0

  .meta-information
    margin-bottom 10px
    color #666
    font-size 20px

    .glyphicon-time
      margin-right 6px

    .meta-timeago,
    .meta-timeago-label
      display inline-block

    .label
      display inline-block
      margin-right 10px
      border-radius 0

  .keywords
    padding 0
    margin-top 20px
    li
      display inline-block
      margin 10px 15px 0px 0px
      padding 7px 10px
      border 1px solid #777
      border-radius 4px
      color #777

  hr
    border-top 4px solid #eee
    width 50%

  .read-more
    display block
    text-transform capitalize
    margin-top 10px
    margin-bottom 20px
  .footer-notes
    color #666
    margin-bottom 20px

  .participants
    font-weight bold
    padding 10px 0
    margin-top 30px

    .view-more
      padding 2px 10px
      margin-left 6px
      margin-top 2px
      display inline-block
      border-radius border_radius

  .source
    p
      span.glyphicon, span.fa
        font-size 12px
        margin-right 5px
      a
        font-size 16px
        color #333
        font-weight bold

  .links
    background-color #f0f0f0
    padding 6px 12px
    p
      margin 0
      margin-bottom 5px
      padding-left 12px
      span.glyphicon, span.fa
        font-size 12px
        margin-right 5px
      a
        font-size 14px
        color #3d699e
        font-weight bold

  .share-links
    margin 30px auto 50px
    text-align center
    p
      font-size .8em
      color #9a9a9a
    a
      background transparent
      padding 10px
      margin-right 10px
      border-radius border_radius
      color #0072BC
      font-size 25px
      display inline-block
      line-height 10px
      -webkit-transition all 0.3s ease
      &:hover
        text-decoration none
      &.flaticon:hover
        background #0072bc
        color white

.embed-container
  position relative
  padding-bottom 56.25%
  height 0
  overflow hidden
  max-width 100%

  iframe
  object
  embed
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    border none
