.forum-card
  padding 40px
  margin 0 10px 20px
  font-size 14px
  overflow hidden
  color #eee
  background-color #bc0c1d
  background-size cover
  background-repeat no-repeat
  background-position center center

  .link
    font-weight inherit
    color inherit
    text-decoration inherit

  .body
    padding 20px

  h1
    color inherit
    margin 0
    padding-bottom .2em
    line-height 1.1
    overflow hidden

  p
    margin 0
    line-height 1.5
    color inherit

  .author
    text-align right

    .avatar
      float right
      margin-left 8px
      width 35px
      border-radius 100%

    p
      padding-top 6px
      text-overflow ellipsis
      white-space nowrap
      overflow hidden

