.topics-slider
  .voted-box
    margin-top: 28px
    margin-bottom: 75px
  .change-vote
    .btn-secondary
      font-family: 'Roboto', sans-serif
      font-size: 18px
      font-weight: 300
      background-color: #3995D6
      color: #FFF