.slider-description
  text-align: center
  font-size: 16px

.slider-options-container 
  width: 551px
  display: flex
  justify-content: space-between
  align-items: center
  position: absolute
  top: 260
  padding: 0 10px
  .slider-options-div
    width: 48%
    display: flex
    justify-content: space-between
    align-items: center
    span
      font-family: 'Roboto', sans-serif
      font-size: 12px
      font-weight: 300
      text-align: center
      max-width: 60px
      margin-right: 5px

.slider-options-wrapper
  width: 100%
  display: flex
  justify-content: space-between
  margin-bottom: -60px
  padding: 0 20px
  span
    text-transform: uppercase
    font-family: 'Roboto', sans-serif
    font-size: 16px
    font-weight: 400

.topics-slider
  .input-range
    .input-range__label
      display: none

  .voted-box
    margin-top: 28px
    margin-bottom: 75px
    display: none
  .change-vote
    .btn-secondary
      font-family: 'Roboto', sans-serif
      font-size: 18px
      font-weight: 300
      background-color: #3995D6
      color: #FFF

  .row-result
    box-shadow: none
    margin-top: -200px
    .VictoryContainer
      svg
        tspan
          font-family: 'Roboto', sans-serif !important
          text-align: center !important

          