.deleted-list
  margin-top 10px

form
  &.comment-form
    .category-select
      font-size 1.4em
      font-weight 400
      color #777
      @media screen and (max-width: 320px)
        font-size 1.2em
    .form-submit
      float left
    .help-text
      &.form-errors
        color red
        display none
        float left
        height 32px
        line-height 32px
        margin-left 6px
    &.has-error
      .help-text
        &.form-errors
          display block