#content-404
  position: absolute
  width: 100%
  min-height: 100%

  .container-404
    width: 430px
    margin: 0 auto
    padding-top: 160px
    overflow: hidden

    img
      max-width: 240px
      margin: 0 auto 50px
      display: block

    .note
      text-align: center
      font-size: 80px

    h1
      text-align: center
      margin: 0 auto 90px

    .goback
      text-align: center
      margin-top: 20px
      color: #bdc3c7

body.not-found-page
  .app-header
    .profile
      display: none

@media only screen and (max-width: 991px)
  #content-404
    .container-404
      width: 90% !important
      padding-top: 15% !important