
/* Header
-------------------------------------------------- */

.app-header
  position absolute
  z-index 20
  top 0
  left 0
  right 0
  height header_height
  background #fff
  color white
  font-weight bold
  text-transform uppercase
  font-size 12px

  &.with-contrast
    box-shadow 0 2px 2px rgba(0, 0, 0, 0.3)

  .header-container
    position relative
    max-width 100%
    display flex
    justify-content space-between

  #toggleButton
    display none !important
    width 26px
    height 64px
    position absolute
    left spacing
    padding 5px 0
    display none
    .bar-icon
      height 3px
      margin-bottom 5px
      display block

  .btn
    color #0072BC

    &:hover
      color #fff
      background #0072BC

  #logo
    display inline-block
    margin 21px 0 0

    a
      font-weight normal
      text-transform initial
      font-size 24px

  img.logo-image
    display inline-block
    height 50px
    position relative
    top -11px
    max-width 100%

.user-nav
  display inline-block
  list-style none

  .user
    float right


  .link
    padding 23px 12px 19px
    display inline-block
    line-height 30px
    font-weight 500
    font-size 16px

    @media all and (max-width: 767px)
      &.hide-md
        display none

    i
      display none
      font-size 20px

    &:hover,
    &:active
      color #fff
      text-decoration none
      background-color #0072bc
