
/* Header
-------------------------------------------------- */

.app-header
  position fixed
  z-index 20
  top 0
  left 0
  right 0
  height header_height
  background #64476e
  color white
  padding-left spacing
  font-weight bold
  text-transform uppercase
  font-size 12px

  &.with-contrast
    box-shadow 0 2px 2px rgba(0, 0, 0, 0.3)

  .header-container
    display flex
    justify-content space-between

  #toggleButton
    width 26px
    height 64px
    position absolute
    left spacing
    padding 5px 0
    display none
    .bar-icon
      height 3px
      margin-bottom 5px
      display block

  a
     color white
     &:hover
       color white

  #logo
    display inline-block
    width 300px
    margin 21px 0 0

    a
      font-weight normal
      text-transform initial
      font-size 24px

  img.logo-image
    display inline-block
    height 43px
    position relative
    top -7px

.user-nav
  display inline-block
  list-style none
  margin-right spacing

  .user
    float right

  .link
    padding 26px 12px
    display inline-block
    line-height 1.8

    i
      display none
      font-size 20px
    &:hover
      text-decoration none
