.newsfeed-page
  .forum-info
    .cover
      .content
        - if (config.logo)
          img.logo(src=config.logo)
        p La Legislatura está tratando un proyecto que crea una Agencia de Bienes, pone a la venta inmuebles de la Ciudad y propone desarrollar nuevos proyectos inmobiliarios.
        p: strong Los terrenos de la Ciudad son nuestros...¿qué quieren hacer con ellos?<br>Conocé el proyecto en profundidad, debatilo y votalo.
  .content
    section.forum-card-list(data-forums)
    .forum-pagination(data-pagination, style="display:none")
      button.btn.btn-block.msg-more(type="button")
        = t('newsfeed.button.load-more')
      p.msg-empty= t('newsfeed.nothing-to-show')
      .loader

  include ../footer/index.jade
