#sidebar
  display none
  position absolute
  left 0
  top header_height
  max-width 100%
  width 320px

  .topics-show &
    display block

  @import './filter/styles'
  @import './list/styles'
  @import './forum-title/styles'
