.sidebar-container
  position relative

#sidebar
  display none
  position absolute
  left spacing
  top header_height + 23px
  max-width 100%
  width 100%
  max-width sidebar_width

  .sidebar-title
    margin 30px 0 15px
    color #767676

  @import './filter/styles'
  @import './list/styles'
  @import './forum-title/styles'
